<div class="diary-container">
    <div class="title montserrat-strong">
        My Work Diary
    </div>

    <div class="input-container">
        <form [formGroup]="controlGroup">
            <div class="border-line-element">
                <mat-form-field id="selectFormField" class="item">
                    <mat-label>Category</mat-label>
                    <mat-select required formControlName="completedCategory">
                        <mat-option [value]="">None</mat-option>
                    @for (programType of this.fitnessProgramTypes; track programType)
                    {
                        <mat-option [value]="programType.name">{{programType.name}}</mat-option>
                    }
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill" class="item">
                    <mat-label>Duration (in minutes)</mat-label>
                    <input matInput type="number" min="0" max="1440" required formControlName="completedDuration">
                    <mat-error>Must be a number.</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="item">
                        <mat-label>Intensity</mat-label>
                        <input matInput type="number" min="1" max="3" required formControlName="completedIntensity">
                        <mat-error>Must be a number.</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="fill" class="item">
                    <mat-label>Weight lost (in kg)</mat-label>
                    <input matInput type="number" min="0" max="200" required formControlName="completedWeightLoss">
                    <mat-error>Must be a number.</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field class="item">
                        <mat-label>Finished excercise on</mat-label>
                        <input matInput [matDatepicker]="datePicker" (dateInput)="dateInputMethod($event)" [value]="dateControl.value" [formControl]="dateControl">
                        <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
                        <mat-datepicker #datePicker></mat-datepicker>
                    </mat-form-field>
                    <br>
                <mat-form-field class="item" style="width:100%;">
                    <mat-label>Description of exercise</mat-label>
                    <textarea matInput rows="1" cols="50" id="textareaFormField" formControlName="completedDescription"></textarea>
                </mat-form-field>
                <button mat-flat-button color="primary" style="margin: 2rem 0.5rem 0.5rem 0.5rem; scale: 1.35;" [disabled]="!this.controlGroup.valid" type="button" (click)="onClick($event)">Add New Completed Exercise</button>
            </div>
        </form>
    </div>

    <div class="stats-display-container">
        <div id="pdf-container">
        @if(this.completedExerciseForUser.length > 0)
        {
            <div class="make-pdf"><button mat-flat-button color="primary" style="margin: 2rem 5rem 1rem 0.5rem; padding: 0rem 3.5rem; scale: 1.35;" type="button" (click)="makePdf($event)">Make PDF</button></div>
            <div class="stats-buttons">
                <button mat-flat-button color="primary" style="margin: 2rem 5rem 1rem 0.5rem; scale: 1.35;" type="button" (click)="onClick1Week($event)">Last Week</button>
                <button mat-flat-button color="primary" style="margin: 2rem 5rem 1rem 0.5rem; scale: 1.35;" type="button" (click)="onClick1Month($event)">Last Month</button>
                <button mat-flat-button color="primary" style="margin: 2rem 5rem 1rem 0.5rem; scale: 1.35;" type="button" (click)="onClick1Year($event)">Last Year</button>
                <button mat-flat-button color="primary" style="margin: 2rem 5rem 1rem 0.5rem; scale: 1.35;" type="button" (click)="onClickAllTime()">All Time</button>
            </div>
            
            @if(this.filteredExerciseForUser.length > 0)
            {
        <div class="graphs-container">
            <div class="graph-title" style="margin-right: 2rem;">Weight Loss:</div>
            <div class="graph-content" style="height: 20rem;">
                <canvas baseChart [data]="weightLossChartData" [options]="weightLossChartOptions" [type]="'line'"> </canvas>
            </div>
            <div style="visibility: hidden;">::after</div>
        <br>
            <div class="graph-title" style="margin-right: 2rem;">Time spent:</div>
            <div class="graph-content" style="height: 20rem;">
                <canvas baseChart [data]="timeSpentChartData" [options]="timeSpentChartOptions" [type]="'line'"> </canvas>
            </div>
        
        </div>
        <mat-divider style="margin: 1rem; border: 1px solid gray; width:100%"></mat-divider>
        <div class="done-exercise-list">
            <table>
                <tr class=" homenaje-regular">
                    <th>Type</th>
                    <th>Duration (mins)</th>
                    <th>Intensity</th>
                    <th>Weight Loss (in kg)</th>
                    <th>Day of Completion</th>
                    <th>Description</th>
                </tr>

                @for(exercise of this.filteredExerciseForUser; track exercise)
                {
                    <tr class="exercise-container homenaje-regular">
                        <td>{{exercise.type}}</td>
                        <td>{{exercise.duration}}</td>
                        <td>{{exercise.intensity}}</td>
                        <td>{{exercise.weightLoss}}</td>
                        <td>{{exercise.dayOfCompletion}}</td>
                        <td>{{(exercise.resultDescription) ? exercise.resultDescription : "/"}}</td>
                    </tr>
                }
            </table>
            
            
        </div>
        <mat-divider></mat-divider>
            }
        }@else {<div class="monserrat-strong nothing-found-message">No completed exercise found.</div>}
        </div>
    </div>
</div>