
<nav class="custom-nav montserrat   -regular">
    <span class="title" (click)="takeToMainPage()">FitCheck</span>
    <div class="options">
        <button mat-fab extended (click)="takeToAddNewProgram()">
            <mat-icon>input</mat-icon>
            Add New Program
          </button>
        <button mat-fab extended (click)="takeToPreviousPurchases()">
            <mat-icon>history</mat-icon>
            Previous Purchases
          </button>
          <br>
          <button mat-fab extended (click)="takeToSubscriptions()">
            <mat-icon>subscriptions</mat-icon>
            Subscriptions
          </button>
          <button mat-fab extended (click)="takeToMyDiary()">
            <mat-icon>book</mat-icon>
            My Diary
          </button>
          
    </div>
    
</nav>
<div class="profile">
  @if(this.currentUser?.avatar)
  {
    <img [src]="this.apiUrl + '/photo/profile/' + (this.currentUser?.id)"
    class="profile-picture" 
    onerror="this.src='../../../../assets/default_images/defaultUser.png'"
    style="border-radius: 100rem;">
  }
  @else {
    <img src="../../../../assets/default_images/defaultUser.png"
    class="profile-picture" 
    style="border-radius: 100rem;">
  }
    
     <div class="menu">
        <span id="username">{{this.currentUser?.username}}</span>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        @if(this.currentUser?.email == null)
        {
          <button mat-menu-item (click)="registerClick()">Register</button>
          <button mat-menu-item (click)="loginClick()">Login</button>
        }
        @else 
        {
          <button mat-menu-item (click)="myProgramsClick()">My Programs</button>
          <button mat-menu-item (click)="settingsClick()">Settings</button>
          <button mat-menu-item (click)="logoutClick()">Logout</button>
        }
</mat-menu>
     
    </div>

</div>