.custom-nav {
    display: flex;
    color: rgb(17, 17, 0);
    background-color: var(--primary-color);
    height: auto; /* Change height to auto */
    min-height: 2rem;
    flex-wrap: nowrap;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    border: 0.1rem solid black;
}


.custom-nav > .title {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 1rem;
    padding: 1% 0; 
    flex-grow: 1; 
    flex-shrink: 0; 
    color: ghostwhite;

    transition: color 1s;
}

.custom-nav > .title:hover
{
    cursor: pointer;
    color: black;
}

.custom-nav > .options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 2;
    justify-content: right;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}


.options > button {
    width: 10rem;
    height: 3rem;
    min-height: 1rem;
    margin: 0.5rem;
    text-wrap: wrap;
    background-color: var(--secondary-color);
}

mat-icon
{
    width: 2rem;
}



.profile
{
    display: inline-flex;
    border: 0.05rem solid black;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    background-color: var(--secondary-color);
    margin: 0.25rem;
    padding: 0.1em;
    
    border-radius: 1rem;
}

.profile > .menu
{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0.5rem;
}

.profile > .profile-picture
{
    margin: 0.5rem;
    height: 3rem;
    width: 3rem;
}

.username
{
    display: inline-block;
    text-align: right;
}
