
<nav class="custom-nav montserrat   -regular">
    <span class="title">This is the fitness Studio title</span>
    <div class="options">
        <button mat-fab extended color="primary">
            <mat-icon>add</mat-icon>
            New Fitness Program
          </button>
        <button mat-fab extended color="primary">
            <mat-icon>Subscriptions</mat-icon>
            Previous Activity
          </button>
          <button mat-fab extended color="primary">
            <mat-icon>book</mat-icon>
            My Diary
          </button>
          
    </div>
    
</nav>
<div class="profile">
  @if(this.currentUser?.avatar)
  {
    <img [src]="this.apiUrl + '/photo/profile/' + (this.currentUser?.id)"
    class="profile-picture" 
    onerror="this.src='../../../../assets/default_images/defaultUser.png'"
    style="border-radius: 1000rem;">
  }
  @else {
    <img src="../../../../assets/default_images/defaultUser.png"
    class="profile-picture" 
    style="border-radius: 1000rem;">
  }
    
     <div class="menu">
        <span id="username">{{this.currentUser?.username}}</span>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
        @if(this.currentUser?.email == null)
        {
          <button mat-menu-item (click)="registerClick()">Register</button>
          <button mat-menu-item (click)="loginClick()">Login</button>
        }
        @else 
        {
          <button mat-menu-item (click)="settingsClick()">Settings</button>
          <button mat-menu-item (click)="logoutClick()">Logout</button>
        }
</mat-menu>
     
    </div>

</div>