
<div class="centered-container">

  <form style="border:1px solid black" class="my-form" enctype="multipart/form-data " method="post" (ngSubmit)="onSubmit()">
    <label class="title-label montserrat-strong">Register user</label>
    <div class="form-body">
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ex. user1" [formControl]="usernameFormControl" [errorStateMatcher]="matcher">
        @if (usernameFormControl.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" [formControl]="passwordFormControl" [errorStateMatcher]="matcher">
          @if (passwordFormControl.hasError('required')) {
            <mat-error>Password is <strong>required</strong></mat-error>
          }
        </mat-form-field>
      <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input matInput [formControl]="firstNameFormControl" [errorStateMatcher]="matcher">
          @if (firstNameFormControl.hasError('required')) {
            <mat-error>First name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="" [formControl]="lastNameFormControl" [errorStateMatcher]="matcher">
          @if (lastNameFormControl.hasError('required')) {
            <mat-error>Last name is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
          <input matInput placeholder="Ex. Belgrade" [formControl]="cityFormControl" [errorStateMatcher]="matcher">
          @if (cityFormControl.hasError('required')) {
            <mat-error>City is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                 placeholder="Ex. classicEmail@example.com">
          @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
            <mat-error>Please enter a valid email address</mat-error>
          }
          @if (emailFormControl.hasError('required')) {
            <mat-error>Email is <strong>required</strong></mat-error>
          }
        </mat-form-field>
        <label class="custom-file-upload"><input type="file" name="avatar" accept="image/*" [formControl]="profilePictureFormControl" (change)="onChangeFile($event)"/>Upload profile picture <span id="file-name"></span></label>
      
        <br>
        
        
        
        <div class="my-captcha">
          <re-captcha
            matInput
            siteKey="6LcYh4wpAAAAAOcqdComLKbQmcS_Gch4XltcXWkl"
            (resolved)="resolved($event)"></re-captcha>
        </div>
      
 

        <br>
        <button mat-raised-button type="submit" color="primary" [disabled]="!this.captcha">Register</button>
        
      </div>
        
  </form>
    
  </div>