<form>
    <div class="container">
        <div class="title">Purchase program access</div>
                <hr>
                <div class="content">
                <label id="radio-group-label">Pick your desired payment method:</label>
                <br>
                <mat-radio-group 
                aria-labelledby="radio-group-label"
                class="radio-group"
                [(ngModel)]="paymentMethod"
                [ngModelOptions]="{standalone: true}">
                <div class="radio-button-container">
                
                <mat-radio-button class="radio-button" id="radio-button-{{this.payMethods[0]}}" [value]="this.payMethods[0]">{{this.payMethods[0]}}</mat-radio-button>
                <mat-radio-button class="radio-button" id="radio-button-{{this.payMethods[1]}}" [value]="this.payMethods[1]">{{this.payMethods[1]}}</mat-radio-button>
                <mat-radio-button class="radio-button" id="radio-button-{{this.payMethods[2]}}" [value]="this.payMethods[2]" [disabled]="this.fitnessProgramService.getCurrentFitnessProgram()?.locationOfEvent?.toLowerCase() === 'online'">{{this.payMethods[2]}}</mat-radio-button>
                
            </div>
            </mat-radio-group>
            <hr>
            @if(this.paymentMethod == this.payMethods[0])
            {
            <mat-form-field class="half-width">
            
                <mat-label>Credit card number</mat-label>
                <input matInput placeholder="XXXX-XXXX-XXXX-XXXX" pattern="([0-9]{4}(-)?){3}[0-9]{4}" [formControl]="creditCardNumberControl" [errorStateMatcher]="matcher" appCreditCardFormat>
                @if (creditCardNumberControl.hasError('required')) {
                <mat-error>Input a <strong>valid credit card number</strong></mat-error>
                }
                @else if (creditCardNumberControl.hasError('pattern')) 
                {
                    <mat-error>Credit card number should contain <strong>16 digits</strong>.</mat-error>
                }
            </mat-form-field>
            }
            @else if(this.paymentMethod === this.payMethods[1])
            {


            <mat-form-field class="half-width">
                <mat-label>PayPal e-mail</mat-label>
                <input matInput placeholder="paypalUser@gmail.com" [formControl]="paypalInputControl" [errorStateMatcher]="matcher">
                @if (paypalInputControl.hasError('required')) {
                <mat-error>Input an <strong>e-mail address</strong></mat-error>
                }
                @else if (paypalInputControl.hasError('email')) 
                {
                    <mat-error>Paypal e-mail must be in <strong>correct e-mail format</strong>.</mat-error>
                }
            </mat-form-field>
            }
            @else if(this.paymentMethod === this.payMethods[2])
            {
                <mat-label class="live-payment-method">You have selected to pay for this program in person.</mat-label>
            }
            <br>
            <button mat-stroked-button class="purchase-button" id="green-purchase-button" [disabled]="!isButtonEnabled()" (click)="purchaseClick()">Purchase</button>
            <div class="total-price">Total price: ${{fitnessProgramService.getCurrentFitnessProgram()?.price}}</div>
        </div>
    </div>
</form>
