<div class="container homenaje-strong">
    <div class="title">Previously purchased programs:</div>
    <div class="purchased-items">

    <table>
        <tr class="program-container homenaje-regular">
            <th>Id</th>
            <th></th>
            <th>Name</th>
        </tr>
    @for(purchasedProgram of this.purchasedPrograms; track purchasedProgram)
    {
    <tr class="program-container homenaje-regular">
        <td>{{purchasedProgram.id}}</td>
        <td class="image-cell"></td>
        <td>{{purchasedProgram.name}}</td>
    </tr>

    <br>
    
    }
    </table>
    </div>
</div>